@use "./utils.scss" as *;

/* ========================================================================== */
/* Layout */
/* ========================================================================== */
.StellarApp {
  font-size: 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--sds-clr-gray-02);
  color: var(--sds-clr-gray-11);

  h1,
  h2 {
    font-weight: var(--sds-fw-medium);
    color: var(--sds-clr-gray-12);
  }

  p {
    padding: 0 !important;
    margin: 0 !important;
  }

  strong {
    color: var(--sds-clr-gray-12);
  }

  .Button {
    width: fit-content;
    white-space: nowrap;
  }

  .Textarea textarea {
    resize: none;
  }

  .StellarApp--error {
    color: var(--sds-clr-red-11);
  }
}

.StellarApp__header {
  height: pxToRem(64px);
  flex-shrink: 0;
  flex-grow: 0;
  border-bottom: 1px solid var(--sds-clr-gray-06);
  padding: pxToRem(16px) pxToRem(24px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.StellarApp__logo {
  width: pxToRem(96px);
  height: pxToRem(24px);

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--sds-clr-gray-12);
  }
}

.StellarApp__body {
  flex: 1;
  padding: pxToRem(32px) pxToRem(24px);
}

.StellarApp__content {
  position: relative;
  width: 100%;
  max-width: pxToRem(640px);
  margin: 0 auto;
  min-height: pxToRem(200px);
  display: flex;
  flex-direction: column;
  gap: pxToRem(24px);
}

.StellarApp__section {
  display: flex;
  flex-direction: column;
  gap: pxToRem(16px);
}

.StellarApp__footer {
  padding: pxToRem(24px);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: pxToRem(12px);
  flex-wrap: wrap;
}

/* ========================================================================== */
/* Select Account */
/* ========================================================================== */
.StellarApp__selectAccount {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: pxToRem(24px);

  background-color: var(--sds-clr-gray-01);
  border: 1px solid var(--sds-clr-gray-06);
  border-radius: pxToRem(8px);
  padding: pxToRem(12px);
}

.StellarApp__selectAccount__key {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: pxToRem(8px);
  color: var(--sds-clr-gray-12);
  flex: 1;
  overflow: hidden;

  span {
    word-break: break-all;
  }

  svg {
    display: block;
    width: pxToRem(12px);
    height: pxToRem(12px);
    stroke: var(--sds-clr-gray-09);
    flex-shrink: 0;
    flex-grow: 0;
  }
}

/* Selected */
.StellarApp__selectAccount[data-is-selected="true"] {
  flex-direction: column;
  align-items: flex-start;
  gap: pxToRem(10px);

  border: 2px solid var(--sds-clr-lilac-07);
  background-color: var(--sds-clr-lilac-02);

  .StellarApp__selectAccount__header {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: pxToRem(8px);

    .IconButton {
      align-self: flex-start;
    }
  }

  .StellarApp__selectAccount__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: pxToRem(6px);

    form {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      gap: pxToRem(12px);
      flex-wrap: wrap;

      .Input {
        flex: 1;

        input::placeholder {
          font-size: pxToRem(12px);
        }
      }

      /* Adjust alignment */
      .Button {
        margin-top: 1px;
        flex-shrink: 0;
      }
    }
  }

  .StellarApp__selectAccount__warning {
    color: var(--sds-clr-amber-11);
  }
}
